<div class="gameMenu">
    
    <% if(host) { %>
    <a href="" title="Back to the room" onclick="backToRoom(event)" class="closeGame">
        <span class="closeBar bar1"></span>
        <span class="closeBar bar2"></span>
    </a>
    <% } else { %>
    <a href="/" title="Leave the room" class="closeGame">
        <span class="closeBar bar1"></span>
        <span class="closeBar bar2"></span>
    </a>
    <% } %>
    
</div>