<!doctype html>
<html>

<head>
    <title>Live Games</title>
    <meta name="description" content="Node.js Live Games app using express.io">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/app.min.js"></script>
</head>

<body>